*{
    /* padding: 0;
    margin: 0; */
    box-sizing: border-box;
}
html {
    font-family: "Montserrat", sans-serif;
    background-image: url("./background.png");

  }
header {
    position: absolute;
   top: 0;
   width: 100%;
   margin: 0;
   background-color:rgb(231, 231, 231);
   left: 0px;
   margin-left: 0;
   padding : 10px;
   vertical-align: middle; 
   box-shadow: 0 0 10px 0 rgba(145, 145, 145, 0.3);
}
body{
    padding: 0 16px;
    /* color : #2b6dd1 */
} 
footer {
    position: absolute;
    bottom : 0;
   width: 100%;
   margin: 0;
   background-color:rgb(231, 231, 231);
   left: 0px;
   padding : 10px;
   vertical-align: middle; 
   box-shadow: 0 0 10px 0 rgba(145, 145, 145, 0.3);
}
/*
margin:0px;
    padding: 10px 0px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
     display: inline-block;
    height: 100%;
    width: 100%;
    float : right;
    vertical-align: middle; 
*/
@font-face {
    font-family: 'Simplifica';
    src: url('./fonts/SIMPLIFICA.ttf') format('truetype');  
    font-weight: bold;
}
