@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Comfortaa:wght@300;400;500;600;700&family=Montserrat:wght@200;300;400;500;600&family=Sacramento&display=swap');
*{
    box-sizing: border-box;
}
html {
    font-family: "Montserrat", sans-serif;
    background-image: url("./background.png");
    position: relative;
}

body{
    background-image: url("./background.png");
    z-index: -3;
    position: relative;
    padding-right: 10px;
    padding-left: 10px;
    background-color:transparent;
    height:100vh;
}

footer {
    position: absolute;
   background-color:rgb(231, 231, 231);
   vertical-align: middle;
   box-shadow: 0 0 10px 0 rgba(145, 145, 145, 0.3);
}





